.expected{
    margin-top: 1%;
    text-align: center;
}

.expectedSubMenu{
    margin-top: 5%;
    margin-right: 5%;
}

.row{
    margin-left: 31%;
}

.graph{
    margin-top: 5%;
    margin-left: 25%;
}