<div class="container">
  <div class="col-sm-12 expected">
    <button (click)="showExpectedMenu()" class="btn btn-primary">
      Expected Losses
    </button>
  </div>
  <div class="row">
    <button
      *ngIf="displayExpectedMenu"
      class="btn btn-primary expectedSubMenu"
      (click)="showSubMenu('PRO')"
    >
      Product Type
    </button>
    &nbsp;
    <button
      *ngIf="displayExpectedMenu"
      class="btn btn-primary expectedSubMenu"
      (click)="showSubMenu('GEO')"
    >
      Geography
    </button>
    &nbsp;
    <button
      *ngIf="displayExpectedMenu"
      class="btn btn-primary expectedSubMenu"
      (click)="showSubMenu('DEL')"
    >
      Deliquency
    </button>
    &nbsp;
  </div>
  <div class="col-sm-12 expected" *ngIf="displaySubMenu">
    <div class="row" *ngIf="displayProductTypeMenu">
      <button
        class="btn btn-primary expectedSubMenu"
        (click)="showSecuredProductsGraph()"
      >
        Secured Products</button
      >&nbsp;
      <button
        class="btn btn-primary expectedSubMenu"
        (click)="showUnsecuredProductsGraph()"
      >
        Unsecured Products</button
      >&nbsp;
    </div>
  </div>
  <div *ngIf="showGraph" class="graph">
    <h3>{{ graphHeader }}</h3>
    <google-chart
      [title]="graphHeader"
      [type]="graphType"
      [data]="graphData"
      [columnNames]="graphColumns"
      [height]="graphHeight"
      [width]="graphWidth"
    ></google-chart>
  </div>
</div>

<router-outlet></router-outlet>
